---
# tasks file for init

- name: install chrony ipset ipvsadm
  become: yes
  yum:
    name:
      - "{{ item }}"
    state: present
  with_items:
    - chrony
    - ipset
    - ipvsadm

- name: copy hosts to /etc/hosts
  become: yes
  copy:
    src: "files/{{ item }}"
    dest: "/etc/{{ item }}"
  with_items:
    - hosts
    - fstab

- name: copy ipvs modules to /etc/sysconfig/modules
  become: yes
  ansible.builtin.copy:
    src: "files/ipvs.modules"
    dest: "/etc/sysconfig/modules/ipvs.modules"

- name: chmod +x /etc/sysconfig/modules/ipvs.modules
  become: yes
  file:
    path: /etc/sysconfig/modules/ipvs.modules
    mode: +x

- name: change timezone
  become: yes
  file:
    src: /usr/share/zoneinfo/Asia/Shanghai
    dest: /etc/localtime
    state: link

- name: start chrony
  become: yes
  service:
    name: chronyd
    state: started
    enabled: yes

- name: stop firewalld iptables
  become: yes
  service:
    name: "{{ item }}"
    state: stopped
    enabled: no
  with_items:
    - firewalld

- name: disable selinux
  become: yes
  selinux:
    state: disabled

- name: modprobe br_netfilter
  become: yes
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  with_items:
    - br_netfilter
    - ip_vs
    - ip_vs_rr
    - ip_vs_wrr
    - ip_vs_sh
    - nf_conntrack_ipv4


- name: bridge net filter and ip forward
  become: yes
  ansible.posix.sysctl:
    name: "{{ item }}"
    value: '1'
    state: present
  with_items:
    - net.bridge.bridge-nf-call-ip6tables
    - net.bridge.bridge-nf-call-iptables
    - net.ipv4.ip_forward

